.main{
    width: 350px;
    height: 500px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    color: gray;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;

}

.main input,textarea{
    background: local;
    border: 1px solid gray;
    padding: 10px;
    
}