.loading{
    width: 200px;
    height: 200px;
    /* background: red; */
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c; 
    color: white;
    position: relative;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: a1 2s linear infinite;
}
.loading::before,.loading::after{
    content: "";
    width: 200px;
    height: 200px;
    /* background: red; */
    position: absolute;
    left: 0;
    top:-10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.loading::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}
.loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}
.loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    text-align: center;
    line-height:200px;
    animation: a2 2s linear infinite;
    font-size: xx-large;
}
@keyframes a1{
    to{
        transform: rotate(360deg);
    }
}
@keyframes a2{
    to{
        transform: rotate(-360deg);
    }
}