.App {
  /* text-align: center; */
   background-color: #282c34;
   height: 100vh;
   color: aliceblue;
   display: flex;
   /* justify-content: space-between */
}
.body{
  padding: 10px;
  overflow: auto;
  width: 100%;
  
}



